@font-face {
    font-family: "HelveticaNeueLTProLt";
    src:url("../fonts/HelveticaNeueLTProLt.otf") format("otf");
}
@font-face {
    font-family: "HelveticaNeueLTProLt";
    src:url("../fonts/HelveticaNeueLTProLt.otf") format("otf");
}
@font-face {
    font-family: "HelveticaNeueLTProLt";
    src:url("../fonts/HelveticaNeueLTProLt.otf") format("otf");
}
@font-face {
    font-family: "HelveticaNeueLTProLt";
    src:url("../fonts/HelveticaNeueLTProLt.otf") format("otf");
}
@font-face {
    font-family: "HelveticaNeueLTProLt";
    src:url("../fonts/HelveticaNeueLTProLt.otf") format("otf");
}
@font-face {
    font-family: "HelveticaNeueLTProLt";
    src:url("../fonts/HelveticaNeueLTProLt.otf") format("otf");
}
  p{
    font-family:  "HelveticaNeueLTProLt", Arial, Helvetica, sans-serif;
  }